@font-face {
    font-family: 'pretendard';
    src: url(../font/PretendardJPVariable.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}


@font-face {
    font-family: "NHDisplaythin";
    src: url(../font/NeueHaasDisplayThin.ttf);
}

@font-face {
    font-family: "NHDisplayLight";
    src: url(../font/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: "NHDisplayRoman";
    src: url(../font/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: "NHDisplayMideum";
    src: url(../font/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: "Caveat";
    src: url(../font/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "DMSans";
    src: url(../font/DMSans-VariableFont_opsz\,wght.ttf);
}