@import "./variables";

@keyframes nowloading {
	0% {
		box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
	}
	8.33% {
		box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor;
	}
	16.66% {
		box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor;
	}
	24.99% {
		box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
	}
	33.32% {
		box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
	}
	41.65% {
		box-shadow: 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor;
	}
	49.98% {
		box-shadow: 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor;
	}
	58.31% {
		box-shadow: -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
	}
	66.64% {
		box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
	}
	74.97% {
		box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
	}
	83.3% {
		box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
	}
	91.63% {
		box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
	}
	100% {
		box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
	}
}

@keyframes moveHorizon1 {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(- calc(1177px * 4));
	}
}
@keyframes moveHorizon2 {
	0% {
		transform: translateX( - calc(777px * 3));
	}
	100% {
		transform: translateX(0%);
	}
}
@keyframes moveHorizon3 {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(- calc(1077px * 4));
	}
}
@keyframes moveHorizon4 {
	0% {
		transform: translateX(- calc(1177px * 4));
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes imgViewing {
	0% {
		object-position: top;
	}
	100% {
		
		object-position: bottom;
	}
}

@keyframes floatSway {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-5px, -20px);
    }
    50% {
        transform: translate(5px, 0px);
    }
    75% {
        transform: translate(-5px, 20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotateResume {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}