$porfolio--color--black : #000;
$porfolio--color--lightblack : #333;
$porfolio--color--dark : #121212;
$porfolio--color--lightdark : #292929;
$porfolio--color--lightgray : #EBEBEA;
$porfolio--color--white : #fcfcfc;
$porfolio--color--blue : #15F5BA;
$porfolio--color--darkblue : #12c797;
$porfolio--color--orange : #E55901;
$porfolio--color--darkorange : #E35000;