/* Breakpoints */
/* horizon width */
/* animation time */
/* Breakpoints */
/* horizon width */
/* animation time */
@keyframes nowloading {
  0% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
  }
  8.33% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor;
  }
  16.66% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor;
  }
  24.99% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  33.32% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
  }
  41.65% {
    box-shadow: 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor;
  }
  49.98% {
    box-shadow: 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor;
  }
  58.31% {
    box-shadow: -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  66.64% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  74.97% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  83.3% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  91.63% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  100% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
  }
}
@keyframes moveHorizon1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-4708px);
  }
}
@keyframes moveHorizon2 {
  0% {
    transform: translateX(-2331px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes moveHorizon3 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-4308px);
  }
}
@keyframes moveHorizon4 {
  0% {
    transform: translateX(-4708px);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes imgViewing {
  0% {
    object-position: top;
  }
  100% {
    object-position: bottom;
  }
}
@keyframes floatSway {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, -20px);
  }
  50% {
    transform: translate(5px, 0px);
  }
  75% {
    transform: translate(-5px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rotateResume {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.section6-detail {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  aspect-ratio: 1.83/1;
  border-radius: 25px;
  border: 1px solid rgba(252, 252, 252, 0.1450980392);
}
.section6-detail .detail-bgr {
  position: absolute;
  width: 100%;
  height: 100%;
}
.section6-detail .detail-bgr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section6-detail .detail-inner {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0%;
  right: 0%;
}
.section6-detail .detail-inner .detail-context {
  height: 420px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 50%;
  right: 60%;
  transform: translateY(-50%);
  text-wrap: nowrap;
  opacity: 0;
  z-index: 0;
}
.section6-detail .detail-inner .detail-context .detail-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fcfcfc;
  font-size: 24px;
}
.section6-detail .detail-inner .detail-context .detail-title h2 {
  font-family: "optima";
}
.section6-detail .detail-inner .detail-context .detail-title strong {
  font-family: "pretendard";
  font-weight: 600;
}
.section6-detail .detail-inner .detail-context .detail-explanation p {
  font-family: "pretendard";
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: #fcfcfc;
}
.section6-detail .detail-inner .detail-context .detail-link {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.section6-detail .detail-inner .detail-context .detail-link li {
  display: flex;
  align-items: center;
}
.section6-detail .detail-inner .detail-context .detail-link li span {
  cursor: default;
}
.section6-detail .detail-inner .detail-context .detail-link li a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: "NHDisplayMideum";
  font-size: 16px;
  transition: 0.3s;
}
.section6-detail .detail-inner .detail-context .detail-link li a:hover {
  color: #15f5ba;
}
.section6-detail .detail-inner .detail-context .detail-link li a i {
  font-size: 20px;
}
.section6-detail .detail-inner .detail-img {
  position: absolute;
  z-index: 10;
}
.section6-detail .detail-inner .detail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}
.section6-detail .detail-inner .detail-img img.hide {
  display: none;
}
.section6-detail .detail-inner .detail-img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.section6-detail .detail-inner .detail-img video.hide {
  display: none;
}