@import "./variables";

header {
    width: 100vw;
    height: 150px;
    padding: 0 150px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $porfolio--color--white;
    background-color: #00000077;
    backdrop-filter: blur(10px);
    z-index: 1000;
    &.active {
        height: 100px;
        color: $porfolio--color--white;
        background-color: $porfolio--color--black;
        transition: 0.3s;
    }
    #logo {
        font-family: "NHDisplayLight";
        font-size: 38px;
    }
    nav {
        ul {
            display: flex;
            gap: 2rem;
            li {
                a {
                    font-family: "NHDisplayLight";
                    font-size: 24px;
                }
            }
        }
    }
    .clock {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        align-items: end;
        font-family: "NHDisplayRoman";
        strong {
            font-weight: 200;
            font-size: 20px;
        }
        span {
            font-family: "NHDisplayLight";
            font-size: 14px;
        }
    }
}
