@charset "UTF-8";
@import "./loading.css";
@import "./header.css";
@import "./detail.css";
@keyframes nowloading {
  0% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
  }
  8.33% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor;
  }
  16.66% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor;
  }
  24.99% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  33.32% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
  }
  41.65% {
    box-shadow: 0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor;
  }
  49.98% {
    box-shadow: 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor;
  }
  58.31% {
    box-shadow: -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  66.64% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  74.97% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  83.3% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, 0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  91.63% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor, -0.2em 0.2em 0 0.1em currentcolor;
  }
  100% {
    box-shadow: -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor, -0.2em -0.2em 0 0.1em currentcolor;
  }
}
@keyframes moveHorizon {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@font-face {
  font-family: "pretendard";
  src: url(../font/PretendardJPVariable.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "NHDisplaythin";
  src: url(../font/NeueHaasDisplayThin.ttf);
}
@font-face {
  font-family: "NHDisplayLight";
  src: url(../font/NeueHaasDisplayLight.ttf);
}
@font-face {
  font-family: "NHDisplayRoman";
  src: url(../font/NeueHaasDisplayRoman.ttf);
}
@font-face {
  font-family: "NHDisplayMideum";
  src: url(../font/NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: "NHDisplayBold";
  src: url(../font/NeueHaasDisplayBold.ttf);
}
@font-face {
  font-family: "Caveat";
  src: url(../font/Caveat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "DMSans";
  src: url(../font/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "optima";
  src: url(../font/OptimaDisplay_Light.otf);
}
/* 로딩 화면 스타일*/
/* 헤더 스타일 */
/* 디테일 창 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

#contents {
  position: relative;
  z-index: 0;
  display: block;
  min-height: 100vh;
  background-color: #121212;
}

.section1 {
  position: relative;
  height: 100vh;
  background-color: #fcfcfc;
}
.section1 .section1-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}
.section1 .section1-middle strong {
  display: inline-block;
  position: relative;
  font-family: "NHDisplayMideum";
  font-size: 320px;
  text-wrap: nowrap;
  mix-blend-mode: hard-light;
  color: #000;
  opacity: 1;
  z-index: 10;
}
.section1 .section1-middle .main-imgwrap {
  width: 250px;
  height: 286px;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
}
.section1 .section1-middle .main-imgwrap img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section1 .section1-bottom__container {
  width: 100vw;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  bottom: 5%;
  color: #fcfcfc;
}
.section1 .section1-bottom__container .section1-bottom__top {
  display: flex;
  justify-content: space-between;
}
.section1 .section1-bottom__container .section1-bottom__top .section1-bottom__name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "NHDisplaythin";
  font-size: 60px;
  line-height: 70px;
}
.section1 .section1-bottom__container .section1-bottom__top .section1-bottom__name #name01,
.section1 .section1-bottom__container .section1-bottom__top .section1-bottom__name #name02 {
  overflow: hidden;
}
.section1 .section1-bottom__container .section1-bottom__top .section1-bottom__contents {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: "NHDisplayLight";
  font-size: 50px;
  line-height: 50px;
  overflow: hidden;
}
.section1 .section1-bottom__container .section1-bottom__top .section1-bottom__contents .section1-textwrap {
  overflow: hidden;
}
.section1 .section1-bottom__container .section1-bottom__top .section1-bottom__contents .section1-spanwrap {
  margin-top: 0.4rem;
  height: 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: end;
}
.section1 .section1-bottom__container .section1-bottom__top .section1-bottom__contents .section1-spanwrap span {
  padding-right: 0.4rem;
  font-style: italic;
  color: #15F5BA;
}
.section1 .section1-bottom__container .section1-horizon__line {
  position: relative;
  width: 0%;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fcfcfc;
}
.section1 .section1-bottom__container .section1-bottom__subcontents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "NHDisplayLight";
  font-size: 1rem;
  line-height: 24px;
  overflow: hidden;
}
.section1 .section1-background {
  width: 100%;
  height: 100%;
}
.section1 .section1-background .section1_bg_video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2 {
  margin: 300px 0 0 0;
  display: flex;
  align-items: center;
  padding: 500px 0;
  background-color: #E55901;
  color: #121212;
  fill: #121212;
}
.section2 .section2-appeal {
  display: flex;
  flex-direction: column;
}
.section2 .section2-appeal .section2-appeal__line {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  font-family: "NHDisplayMideum";
  font-size: 180px;
  line-height: 160px;
  overflow: hidden;
}
.section2 .section2-appeal .section2-appeal__line .section2-videowrap {
  overflow: hidden;
}
.section2 .section2-appeal .section2-appeal__line .section2-videowrap .section2--videobox {
  width: 440px;
  height: 130px;
  line-height: 110px;
}
.section2 .section2-appeal .section2-appeal__line .section2-videowrap .section2--videobox video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.section2 .section2-appeal .section2-appeal__line .section2-videowrap .videobox2 {
  width: 900px;
}
.section2 .section2-appeal .section2-appeal__line .section2-videowrap .videobox3 {
  width: 800px;
}
.section2 .section2-appeal .section2-appeal__line .section2-spanwrap {
  overflow: hidden;
}
.section2 .section2-appeal .section2-appeal__line .section2-spanwrap span {
  display: block;
}
.section2 .section2-appeal .appeal__line02 .section2--videobox {
  width: 745px;
}
.section2 .section2-appeal .appeal__line04 .section2--videobox {
  width: 790px;
}
.section2 .section2-appeal .appeal__line04 .section2-square {
  width: 218px;
  height: 130px;
  background-color: #fcfcfc;
}
.section2 .section2-appeal .appeal__line05 .section2-horizon__line {
  width: 10px;
  height: 15px;
  transition: 0.3s;
  background-color: #fcfcfc;
}
.section2 .section2-appeal .multifly {
  transition: 0.3s;
}

.section3 {
  padding: 200px 0;
  background-color: #121212;
}
.section3 .section3-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "pretendard";
  padding-left: 60px;
  color: #fcfcfc;
  justify-content: center;
}
.section3 .section3-inner .section3-title {
  display: flex;
  overflow: hidden;
}
.section3 .section3-inner .section3-title h2 {
  font-size: 140px;
  color: #E55901;
  transition: 0.1s;
}
.section3 .section3-inner .section3-inner-sentences {
  display: flex;
  flex-direction: column;
}
.section3 .section3-inner .section3-inner-sentences li {
  font-size: 50px;
  overflow: hidden;
}
.section3 .section3-inner .section3-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 285px;
  height: 350px;
}
.section3 .section3-inner .section3-img img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
}

.section4 {
  padding: 120px 0 100px 0;
  background-color: #121212;
}
.section4 .section4-container {
  display: flex;
  justify-content: space-between;
  padding: 0 43px;
}
.section4 .section4-container .section4-leftblock {
  display: flex;
  flex-direction: column;
  font-family: "NHDisplayMideum";
  font-size: 200px;
  line-height: 240px;
  color: #fcfcfc;
}
.section4 .section4-container .section4-leftblock .section4-left-first {
  text-align: left;
}
.section4 .section4-container .section4-leftblock .section4-left-second {
  text-align: right;
}
.section4 .section4-container .section4-leftblock .section4-left-third {
  text-align: center;
  margin-top: 2rem;
}
.section4 .section4-container .section4-leftblock .section4-left-third strong {
  font-size: 160px;
  padding: 33px 110px;
  border: 1px solid #15F5BA;
  border-radius: 500px;
  color: #15F5BA;
}
.section4 .section4-container .section4-rightblock {
  width: 50%;
  font-size: 94px;
  font-family: "DMSans";
  color: #fcfcfc;
  font-weight: 700;
  line-height: 86px;
}
.section4 .section4-container .section4-rightblock .section4-rightblock-line {
  display: flex;
  overflow: hidden;
}
.section4 .section4-container .section4-rightblock .section4-rightblock-line1 {
  justify-content: flex-start;
}
.section4 .section4-container .section4-rightblock .section4-rightblock-line2 {
  justify-content: space-between;
}
.section4 .section4-container .section4-rightblock .section4-rightblock-line3 {
  justify-content: flex-start;
  gap: 2rem;
}
.section4 .section4-container .section4-rightblock .section4-rightblock-line4 {
  justify-content: space-between;
  gap: 2rem;
}
.section4 .section4-container .section4-rightblock .section4-rightblock-line5 {
  justify-content: space-between;
}
.section4 .section4-container .section4-rightblock .section4-rightblock-line6,
.section4 .section4-container .section4-rightblock .section4-rightblock-line7,
.section4 .section4-container .section4-rightblock .section4-rightblock-line8 {
  justify-content: flex-start;
  color: #15F5BA;
}
.section4 .section4-container .section4-rightblock .section4-rightblock-line9 {
  justify-content: space-between;
}
.section4 .section4-container .section4-rightblock .section4-rightblock-line9 #creative {
  color: #15F5BA;
}

/* section5 */
.bandsection .bandsection-horizonLine {
  height: 200px;
  display: flex;
  align-items: center;
  background-color: #121212;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.bandsection .bandsection-horizonLine:hover {
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #fcfcfc;
  background-color: #12c797;
}
.bandsection .bandsection-horizonLine:hover .bandsection-innertext {
  animation: moveHorizon 40s linear infinite;
}
.bandsection .bandsection-horizonLine:hover .bandsection-innertext span {
  color: #fcfcfc;
}
.bandsection .bandsection-horizonLine:hover .bandsection-innertext svg {
  fill: #fcfcfc;
}
.bandsection .bandsection-horizonLine .bandsection-innertext {
  display: flex;
  align-items: center;
  gap: 50px;
}
.bandsection .bandsection-horizonLine .bandsection-innertext span {
  font-family: "NHDisplayRoman";
  font-size: 90px;
  line-height: 80px;
  color: #292929;
  text-wrap: nowrap;
}
.bandsection .bandsection-horizonLine .bandsection-innertext svg {
  fill: #292929;
}

/* section6 */
.worksection {
  padding: 500px 150px;
}
.worksection .worksection-container {
  display: flex;
  flex-direction: column;
  gap: 300px;
}
.worksection .worksection-container .worksection-workplace {
  display: flex;
  flex-direction: column;
  gap: 300px;
}
.worksection .worksection-container .worksection-workplace .worksection-workplace-work {
  padding-bottom: 30px;
  border-bottom: 1px solid #fcfcfc;
}
.worksection .worksection-container .worksection-workplace .worksection-workplace-work .workplace-work-inner {
  display: flex;
  justify-content: space-between;
  color: #fcfcfc;
}
.worksection .worksection-container .worksection-workplace .worksection-workplace-work .workplace-work-inner .work-inner-number span {
  font-family: "NHDisplayMideum";
  line-height: 28px;
  font-size: 24px;
}
.worksection .worksection-container .worksection-workplace .worksection-workplace-work .workplace-work-inner .work-inner-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.worksection .worksection-container .worksection-workplace .worksection-workplace-work .workplace-work-inner .work-inner-description .inner-description-worktitle h3 {
  font-family: "optima";
  font-size: 50px;
  line-height: 50px;
  font-weight: 200;
}
.worksection .worksection-container .worksection-workplace .worksection-workplace-work .workplace-work-inner .work-inner-description .inner-description-workcontext p {
  font-family: "pretendard";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.worksection .worksection-container .worksection-workplace .worksection-workplace-work .workplace-work-inner .work-inner-image {
  position: relative;
  width: 593px;
  height: 324px;
}
.worksection .worksection-container .worksection-workplace .worksection-workplace-work .workplace-work-inner .work-inner-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 26px;
}
.worksection .worksection-container .worksection-workplace .worksection-workplace-work .workplace-work-inner .work-inner-icon a svg {
  fill: #fcfcfc;
}
.worksection .worksection-container .worksection-workplace #jheedo {
  font-family: "NHDisplayMideum";
}
.worksection .worksection-container .worksection-workplace #lenovo {
  font-family: "Montserrat";
  font-weight: 200;
}
.worksection .worksection-container .worksection-title h2 { /* title */
  font-family: "NHDisplayBold";
  font-size: 38px;
  color: #fcfcfc;
}

/* section7 */
.clonesection {
  padding: 200px 150px;
}
.clonesection .clonesection-container {
  display: flex;
  flex-direction: column;
  gap: 300px;
}
.clonesection .clonesection-container .clonesection-container-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, 1fr));
  grid-template-rows: repeat(2, minmax(556px, 1fr));
  gap: 40px;
}
.clonesection .clonesection-container .clonesection-container-grid .container-grid-works {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 40px;
  background-color: #fcfcfc;
}
.clonesection .clonesection-container .clonesection-container-grid .container-grid-works .grid-works-imgwrap {
  height: 88%;
}
.clonesection .clonesection-container .clonesection-container-grid .container-grid-works .grid-works-imgwrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}
.clonesection .clonesection-container .clonesection-container-grid .container-grid-works .grid-works-textwrap {
  padding: 0 10px;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "pretendard";
}
.clonesection .clonesection-container .clonesection-container-grid .container-grid-works .grid-works-textwrap strong {
  font-size: 20px;
  font-weight: 600;
}
.clonesection .clonesection-container .clonesection-container-title h2 { /* title */
  font-family: "NHDisplayBold";
  font-size: 38px;
  color: #fcfcfc;
}/*# sourceMappingURL=style.css.map */