@import "./keyframes";
@import "./variables";
@import "./font";

/* 로딩 화면 스타일*/
@import "./loading.css";
/* 헤더 스타일 */
@import "./header.css";
/* 디테일 창 스타일 */
@import "./detail.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: $porfolio--color--white;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

#contents {
    position: relative;
    z-index: 0;
    display: block;
    min-height: 100vh;
    background-color: $porfolio--color--dark;
}

.section1 {
    position: relative;
    height: 100vh;
    background-color: $porfolio--color--white;
    .section1-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        strong {
            display: inline-block;
            position: relative;
            font-family: "NHDisplayMideum";
            font-size: 320px;
            text-wrap: nowrap;
            mix-blend-mode: hard-light;
            color: $porfolio--color--black;
            opacity: 1;
            z-index: 10;
        }
        .main-imgwrap {
            width: 250px;
            height: 286px;
            position: absolute;
            top: -30%;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 0;
            img {
                width: 100%;
                height: 100%;
                border-radius: 16px;
                object-fit: cover;
            }
        }
    }
    .section1-bottom__container {
        width: 100vw;
        padding: 0 150px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        bottom: 5%;
        color: $porfolio--color--white;
        .section1-bottom__top {
            display: flex;
            justify-content: space-between;
            .section1-bottom__name {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                font-family: "NHDisplaythin";
                font-size: 60px;
                line-height: 70px;
                #name01,
                #name02 {
                    overflow: hidden;
                }
            }
            .section1-bottom__contents {
                display: flex;
                flex-direction: column;
                align-items: end;
                font-family: "NHDisplayLight";
                font-size: 50px;
                line-height: 50px;
                overflow: hidden;
                .section1-textwrap {
                    overflow: hidden;
                }
                .section1-spanwrap {
                    margin-top: 0.4rem;
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    align-items: end;
                    span {
                        padding-right: 0.4rem;
                        font-style: italic;
                        color: $porfolio--color--blue;
                    }
                }
            }
        }
        .section1-horizon__line {
            position: relative;
            width: 0%;
            height: 1px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $porfolio--color--white;
        }
        .section1-bottom__subcontents {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-family: "NHDisplayLight";
            font-size: 1rem;
            line-height: 24px;
            overflow: hidden;
        }
    }
    .section1-background {
        width: 100%;
        height: 100%;
        .section1_bg_video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;
        }
    }
}

.section2 {
    margin: 300px 0 0 0;
    display: flex;
    align-items: center;
    padding: 500px 0;
    background-color: $porfolio--color--orange;
    color: $porfolio--color--dark;
    fill: $porfolio--color--dark;
    .section2-appeal {
        display: flex;
        flex-direction: column;
        .section2-appeal__line {
            display: flex;
            gap: 1.4rem;
            align-items: center;
            font-family: "NHDisplayMideum";
            font-size: 180px;
            line-height: 160px;
            // text-transform: lowercase;
            overflow: hidden;
            .section2-videowrap {
                overflow: hidden;
                .section2--videobox {
                    width: 440px;
                    height: 130px;
                    line-height: 110px;
                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
                .videobox2 {
                    width: 900px;
                }
                .videobox3 {
                    width: 800px;
                }
            }
            .section2-spanwrap {
                overflow: hidden;
                span {
                    display: block;
                }
            }
        }
        .appeal__line02 {
            .section2--videobox {
                width: 745px;
            }
        }
        .appeal__line04 {
            .section2--videobox {
                width: 790px;
            }
            .section2-square {
                width: 218px;
                height: 130px;
                background-color: $porfolio--color--white;
            }
        }
        .appeal__line05 {
            .section2-horizon__line {
                width: 10px;
                height: 15px;
                transition: 0.3s;
                background-color: $porfolio--color--white;
            }
        }
        .multifly {
            transition: 0.3s;
        }
    }
}

.section3 {
    padding: 200px 0;
    background-color: $porfolio--color--dark;
    .section3-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        font-family: "pretendard";
        padding-left: 60px;
        color: $porfolio--color--white;
        justify-content: center;
        .section3-title {
            display: flex;
            overflow: hidden;
            h2 {
                font-size: 140px;
                color: $porfolio--color--orange;
                transition: 0.1s;
            }
        }
        .section3-inner-sentences {
            display: flex;
            flex-direction: column;
            li {
                font-size: 50px;
                overflow: hidden;
            }
        }
        .section3-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 285px;
            height: 350px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 40px;
                object-fit: cover;
                filter: grayscale(1);
            }
        }
    }
}

.section4 {
    padding: 120px 0 100px 0;
    background-color: $porfolio--color--dark;
    .section4-container {
        display: flex;
        justify-content: space-between;
        padding: 0 43px;
        .section4-leftblock {
            display: flex;
            flex-direction: column;
            font-family: "NHDisplayMideum";
            font-size: 200px;
            line-height: 240px;
            color: $porfolio--color--white;
            .section4-left-first {
                text-align: left;
            }
            .section4-left-second {
                text-align: right;
            }
            .section4-left-third {
                text-align: center;
                margin-top: 2rem;
                strong {
                    font-size: 160px;
                    padding: 33px 110px;
                    border: 1px solid $porfolio--color--blue;
                    border-radius: 500px;
                    color: $porfolio--color--blue;
                }
            }
        }
        .section4-rightblock {
            width: 50%;
            font-size: 94px;
            font-family: "DMSans";
            color: $porfolio--color--white;
            font-weight: 700;
            line-height: 86px;
            .section4-rightblock-line {
                display: flex;
                overflow: hidden;
            }
            .section4-rightblock-line1 {
                justify-content: flex-start;
            }
            .section4-rightblock-line2 {
                justify-content: space-between;
            }
            .section4-rightblock-line3 {
                justify-content: flex-start;
                gap: 2rem;
            }
            .section4-rightblock-line4 {
                justify-content: space-between;
                gap: 2rem;
            }
            .section4-rightblock-line5 {
                justify-content: space-between;
            }
            .section4-rightblock-line6,
            .section4-rightblock-line7,
            .section4-rightblock-line8 {
                justify-content: flex-start;
                color: $porfolio--color--blue;
            }
            .section4-rightblock-line9 {
                justify-content: space-between;
                #creative {
                    color: $porfolio--color--blue;
                }
            }
        }
    }
}

/* section5 */
.bandsection {
    .bandsection-horizonLine {
        height: 200px;
        display: flex;
        align-items: center;
        background-color: $porfolio--color--dark;
        border-top: 1px solid $porfolio--color--white;
        border-bottom: 1px solid $porfolio--color--white;
        &:hover {
            border-top: 1px solid $porfolio--color--white;
            border-bottom: 1px solid $porfolio--color--white;
            background-color: $porfolio--color--darkblue;
        }
        &:hover .bandsection-innertext {
            animation: moveHorizon 40s linear infinite;
        }
        &:hover .bandsection-innertext span{
            color: $porfolio--color--white;
        }
        &:hover .bandsection-innertext svg{
            fill: $porfolio--color--white;
        }
        .bandsection-innertext {
            display: flex;
            align-items: center;
            gap: 50px;
            span {
                font-family: "NHDisplayRoman";
                font-size: 90px;
                line-height: 80px;
                color: $porfolio--color--white;
                text-wrap: nowrap;
            }
            svg {
                fill: $porfolio--color--white;
            }
        }
    }
}

/* section6 */
.worksection {
    padding: 500px 150px 100px 150px;
    position: relative;
    .worksection-container {
        display: flex;
        flex-direction: column;
        gap: 300px;
        .worksection-workplace{
            display: flex;
            flex-direction: column;
            gap: 300px;
            .worksection-workplace-work{
                padding: 60px 30px 60px 30px;
                border-bottom: 1px solid $porfolio--color--white;
                backdrop-filter: blur(20px);
                border-radius: 50px;
                .workplace-work-inner{
                    display: flex;
                    justify-content: space-between;
                    color: $porfolio--color--white;
                    .work-inner-number{
                        span{
                            font-family: "NHDisplayMideum";
                            line-height: 28px;
                            font-size: 24px;
                        }
                    }
                    .work-inner-description{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 30px;
                        .inner-description-worktitle{
                            h3 {
                                font-family: "optima";
                                font-size: 50px;
                                line-height: 50px;
                                font-weight: 200;
                            }
                        }
                        .inner-description-workcontext{
                            margin-bottom: 5rem;
                            p {
                                font-family: 'pretendard';
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 28px;
                            }
                        }
                        .inner-description-used{
                            display: flex;
                            justify-content: space-between;
                            font-family: "NHDisplayLight";
                            .description-used-skills{
                                display: flex;
                                align-items: center;
                                gap: 0.6rem;
                                font-size: 14px;
                            }
                        }
                    }
                    .work-inner-image{
                        position: relative;
                        width: 593px;
                        height: 324px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 26px;
                        }
                    }
                    .work-inner-year{
                        li {
                            text-align: end;
                            font-family: "DMSans";
                            font-size: 20px;
                        }
                    }
                }
            }
            #jheedo {
                font-family: "NHDisplayMideum";
            }
            #lenovo{
                font-family: 'Montserrat';
                font-weight: 200;
            }
        }
        .worksection-title{
            padding: 200px 0;
            display: flex;
            justify-content: center;
            h2 { /* title */
                font-family: "NHDisplayBold";
                font-size: 200px;
                text-wrap: nowrap;
                letter-spacing: -10px;
                color: $porfolio--color--white;
            }
        }
    }
}

/* section7 */

.clonesection {
    position: relative;
    padding: 200px 150px;
    background-color: $porfolio--color--lightgray;
    border-radius: 200px 200px 0 0;
    .clonesection-container{
        display: flex;
        flex-direction: column;
        gap: 150px;
        .clonesection-container-grid{
            position: relative;
            width: 100%;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, minmax(33%, 1fr));
            grid-template-rows: repeat(2, minmax(556px, 1fr));
            gap: 40px;
            z-index: 10;
            .container-grid-works{
                display: flex;
                flex-direction: column;
                padding: 20px;
                border: 1px solid #fcfcfcd0;
                border-radius: 40px;
                background-color: #fcfcfc9a;
                backdrop-filter: blur(15px);
                .grid-works-imgwrap{
                    height: 88%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 24px;
                    }
                }
                .grid-works-textwrap{
                    padding: 0 10px;
                    height: 12%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: 'pretendard';
                    strong {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
        .clonesection-container-title{
            position: relative;
            padding: 300px 0 200px 0;
            display: flex;
            justify-content: center;
            z-index: 0;
            h2 { /* title */
                font-family: "NHDisplayMideum";
                letter-spacing: 2px;
                font-size: 290px;
                text-wrap: nowrap;
                color: $porfolio--color--lightblack;
            }
        }
    }
}

.othersection {
    padding: 400px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .othersection-title{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1.2rem;
        color: $porfolio--color--white;
        h2 {
            font-family: "NHDisplaythin";
            font-size: 42px;
            line-height: 42px;
            font-weight: 100;
        }
        p {
            font-family: 'pretendard';
            font-size: 14px;
        }
    }
    .othersection-bgr{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        z-index: -1;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.2);
        }
    }
}

.myselfsection{
    position: relative;
    height: calc(100vh - 100px);
    font-family: "NHDisplayBold";
    color: $porfolio--color--dark;
    background-color: $porfolio--color--darkorange;
    .myselfsection-skills-textwrap{
        flex-direction: column;
        position: absolute;
        right: 150px;
        width: 1440px;
        .skills-textwrap-bold{
            width: 100%;
            font-size: 60px;
            line-height: 60px;
            li:first-child{
                text-align: end;
            }
            li:nth-child(2){
                text-align: center;
            }
            li:last-child{
                text-align: start;
            }
        }
    }
    .myselfsection-myself-textwrap{
        position: absolute;
        top: 30%;
        right: 150px;
        .myself-textwrap-bold{
            text-align: end;
            font-size: 80px;
            line-height: 80px;
        }
        .myself-textwrap-sub{
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
    .myselfsection-since-textwrap{
        flex-direction: column;
        position: absolute;
        right: 150px;
        bottom: 10%;
        span {
            font-size: 36px;
        }
        strong {
            font-size: 120px;
        }
    }
    div {
        display: flex;
        ul {
            display: flex;
            flex-direction: column;
        }
    }
}

.workbgrwrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.18);
    }
}