@import "./keyframes";
@import "./variables";
@import "./font";

/* 로딩 화면 스타일*/
@import "./loading.css";
/* 헤더 스타일 */
@import "./header.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: $porfolio--color--white;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

#contents {
    position: relative;
    z-index: 0;
    display: block;
    min-height: 100vh;
    background-color: $porfolio--color--black;
}

.section1 {
    position: relative;
    height: 100vh;
    background-color: $porfolio--color--white;
    .section1-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        strong {
            display: inline-block;
            position: relative;
            font-family: "NHDisplayMideum";
            font-size: 320px;
            text-wrap: nowrap;
            mix-blend-mode: hard-light;
            color: $porfolio--color--black;
            opacity: 1;
            z-index: 10;
        }
        .main-imgwrap {
            width: 250px;
            height: 286px;
            position: absolute;
            top: -30%;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 0;
            img {
                width: 100%;
                height: 100%;
                border-radius: 16px;
                object-fit: cover;
            }
        }
    }
    .section1-bottom__container {
        width: 100vw;
        padding: 0 150px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        bottom: 5%;
        color: $porfolio--color--white;
        .section1-bottom__top {
            display: flex;
            justify-content: space-between;
            .section1-bottom__name {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                font-family: "NHDisplaythin";
                font-size: 60px;
                line-height: 70px;
                #name01,
                #name02 {
                    overflow: hidden;
                }
            }
            .section1-bottom__contents {
                display: flex;
                flex-direction: column;
                align-items: end;
                font-family: "NHDisplayLight";
                font-size: 50px;
                line-height: 50px;
                overflow: hidden;
                .section1-textwrap{
                    overflow: hidden;
                }
                .section1-spanwrap {
                    margin-top: 0.4rem;
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    align-items: end;
                    span {
                        padding-right: 0.4rem;
                        font-style: italic;
                        color: $porfolio--color--blue;
                    }
                }
            }
        }
        .section1-horizon__line {
            position: relative;
            width: 0%;
            height: 1px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $porfolio--color--white;
        }
        .section1-bottom__subcontents {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-family: "NHDisplayLight";
            font-size: 1rem;
            line-height: 24px;
            overflow: hidden;
        }
    }
    .section1-background {
        width: 100%;
        height: 100%;
        .section1_bg_video {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;
        }
    }
}

.section2 {
    margin: 300px 0;
    background-color: $porfolio--color--orange;
    display: flex;
    align-items: center;
    padding: 700px 0;
    .section2-appeal {
        display: flex;
        flex-direction: column;
        .section2-appeal__line {
            display: flex;
            align-items: center;
            font-family: "NHDisplayMideum";
            font-size: 150px;
            line-height: 100px;
            color: $porfolio--color--black;
            .section2_decoblock {
                height: 110px;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .section2_decoblock01 {
                width: 800px;
            }
        }
        .appeal__line02 {
            .section2-appeal__horizon-line {
                width: 500px;
                height: 5px;
                background-color: $porfolio--color--black;
            }
            .section2_decoblock02 {
                width: 400px;
            }
        }
    }
}

.section3 {
    padding: 400px 0;
    .section3-inner {
        position: relative;
        font-family: "NHDisplayLight";
        font-size: 50px;
        color: $porfolio--color--white;
        .section3-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 285px;
            height: 350px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 36px;
                object-fit: cover;
            }
        }
        .section3-inner-sentences {
            display: flex;
            flex-direction: column;
            align-items: center;
            .last-sentence {
                display: flex;
                .section3-inner-block {
                    display: flex;
                    align-items: center;
                    color: $porfolio--color--blue;
                    font-family: "Caveat";
                }
            }
        }
    }
}

.section4 {
    padding: 200px 0;
    .section4-container {
        display: flex;
        justify-content: space-between;
        padding: 0 43px;
        .section4-leftblock {
            display: flex;
            flex-direction: column;
            font-family: "NHDisplayMideum";
            font-size: 200px;
            line-height: 240px;
            color: $porfolio--color--white;
            .section4-left-first {
                text-align: left;
            }
            .section4-left-second {
                text-align: right;
            }
            .section4-left-third {
                text-align: center;
                margin-top: 2rem;
                strong {
                    font-size: 160px;
                    padding: 33px 110px;
                    border: 1px solid $porfolio--color--blue;
                    border-radius: 500px;
                    color: $porfolio--color--blue;
                }
            }
        }
    }
}
